<!DOCTYPE html>
<html>

	<style>
	body {background-color:lightgrey;}
	h1 {color:grey;}
	</style>

	<head>
		<meta charset="utf-8">
		<title>DatePicker Example</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
		$(function() {
			$( ".dtpick" ).datepicker({ minDate: (new Date(16,6,13)), maxDate: "+1D" });
		});
  		</script>
		<title>Slack Daily Report</title>
	</head>

	<body>
		<a 
		href="/">
		<center><img src="http://uploads.webflow.com/54d006aa2cb8e4a17a02e212/5522ca29dcc6adcc03851661_SVDS_logo_color_Aug_16_2013.png"></center>
		</a>
		{% block content %}{% endblock %}
	</body>	
</html>