<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="btn-group">
						<form class="" action="{{ url_for('.index') }}" method="post">
							{{ formUser.hidden_tag() }}
							<div class="form-group {% if formUser.tags.errors %}has-error{% endif %}">
								<select class="tags-select form-control" name="{{ formUser.tags.name }}" multiple="multiple" data-tags=0>
									{% for tag_field in formUser.tags %}
									{{ tag_field }}
									{% endfor %}
								</select>
								{% if formUser.tags.errors -%}
								<ul class="help-block small text-danger">
									{% for error in formUser.tags.errors %}
									<li>
										{{ error }}
									</li>
									{% endfor %}
								</ul>
								{%- endif %}
							</div>
							<div>
								{{ formUser.submit(class_="btn btn-primary") }}
							</div>
						</form> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="btn-group">
						 
						<form class="" action="{{ url_for('.index') }}" method="post">
							{{ formChannel.hidden_tag() }}
							<div class="form-group {% if formChannel.tags.errors %}has-error{% endif %}">
								<select class="tags-select form-control" name="{{ formChannel.tags.name }}" multiple="multiple" data-tags=9>
									{% for tag_field in formChannel.tags %}
									{{ tag_field }}
									{% endfor %}
								</select>
								{% if formChannel.tags.errors -%}
								<ul class="help-block small text-danger">
									{% for error in form.tags.errors %}
									<li>
										{{ error }}
									</li>
									{% endfor %}
								</ul>
								{%- endif %}
							</div>
							<div>
								{{ formChannel.submit(class_="btn btn-primary") }}
							</div>
						</form>
						
						<ul class="dropdown-menu">
							<li><a href="#">Something else here</a></li>
						</ul>
					</div>
				</div>