
{% extends "base.html" %}

{% block content %}
<style>
#body {
	background-color: white;
	opacity: 0.8;
}
</style>

<div class="container-fluid">
	<div id="body" class="row">
		<div class="col-md-12">
			<div class="row">
				<form action="" method="post" >
    			{{form.hidden_tag()}}
					<div class="col-md-4">
						<div class="btn-group">
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
								{{form.dt(class="dtpick")}}
							</button>
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
								{{form.userChoice()}}
							</button>
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
								{{form.channelChoice()}}
							</button>
							<button type="submit" class="btn btn-default">
								Submit
							</button>  
						</div>
					</div>
				</form>


			<center><table class="table table-striped table-responsive">
				<thead>
					<tr>
						<th>User</th>
						<th>Message</th>
						<th>Channel</th>
						<th>Time</th>
					</tr>
				</thead>
				{% for message in messageInfo %}
				<tbody>
					<tr>
						<td>{{ message[3] }}</td>
						<td>{{ message[0] }}</td>
						<td>{{ message[1] }}</td>
						<td>{{ message[2] }}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table></center>

		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// https://select2.github.io/examples.html
		$(".tags-select").select2({});
	});
</script>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

{% endblock %}