
{% extends "base.html" %}

{% block content %}
			
			<form action="" method="post" >
    			{{form.hidden_tag()}}
   				 <p>
   				 	{{form.dt(class="dtpick")}}
        			{{form.userChoice()}}
        			{{form.channelChoice()}}
    			</p>
    			<button type="submit">Go</button>
			</form>
				
			
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>User</th>
						<th>Message</th>
						<th>Channel</th>
						<th>Time</th>
					</tr>
				</thead>
				{% for message in messageInfo %}
				<tbody>
					<tr>
						<td>{{ message[3] }}</td>
						<td>{{ message[0] }}</td>
						<td>{{ message[1] }}</td>
						<td>

						<!-- what to do with this and the for loop-->
							<!-- {{ message[2] }} -->


							<div class="container">
								<!-- Trigger the modal with a button -->
								<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Messages</button>
								<!-- Modal -->
								  <div class="modal fade" id="myModal" role="dialog">
								    <div class="modal-dialog">
								    
								      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Modal Header</h4>
								        </div>
								        <div class="modal-body">
								          <p>Some text in the modal.</p>
								        </div>
								        <div class="modal-footer">
								          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        </div>
								      </div>
								      
								    </div>
								  </div>
							</div>

						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		// https://select2.github.io/examples.html
		$(".tags-select").select2({});
	});
	</script>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
{% endblock %}
