{% extends "base.html" %}

<!DOCTYPE html>
<html>

	<style>
	table{
		table-layout: fixed;
	}
	td{
		word-wrap:break-word;
	}
	</style>

	<head>
		<title>{{ USERNAME }}'s Slack Report</title>
	</head>

	<body>
		<h1 align="center">{{ USERNAME }}</h1>
	</body>

	<center><table border="1" style="width:80%">
		<tr>
			<th>Message</th>
			<th>Channel</th>
			<th>Time</th>
		</tr>

		{% for SOMETHING in SOMETHING() %}
		<tr>
			<td>{{ Message }}</td>
			<td>{{ Channel }}</td>
			<td>{{ Time }}</td>
		</tr>
		{% endfor %}

	</table></center>

	
			
</html>