{% extends "base.html" %}

<!DOCTYPE html>
<html>

	<style>
	table{
		table-layout: fixed;
	}
	td{
		word-wrap:break-word;
	}
	</style>

	<head>
		<title>{{ theUser }}'s Slack Report</title>
	</head>

	<body>
		<h1 align="center">{{ theUser }}</h1>
	</body>

	<center><table border="1" style="width:80%">
		<tr>
			<th>Message</th>
			<th>Channel</th>
			<th>Time</th>
		</tr>

		{% for message in messageInfor() %}
		<tr>
			<td>{{ message[0] }}</td>
			<td>{{ message[1] }}</td>
			<td>{{ message[2] }}</td>
		</tr>
		{% endfor %}

	</table></center>

</html>
